div.task-points(contrib-task-points, ng-controller="ContribTaskPointsAdminController as ctrl")
    header
        h1
            span.project-name {{::project.name}}
            span.green {{::sectionName}}

    form
        fieldset

            label(for="ep_name") Estimated Points custom name
            div.contrib-form-wrapper
                fieldset.contrib-input
                    input(
                        type="text"
                        name="ep_name"
                        ng-model="settings.ep_name"
                        placeholder="Estimated Points"
                        id="ep_name"
                    )
            label(for="rp_name") Real Points custom name
            div.contrib-form-wrapper
                fieldset.contrib-input
                    input(
                        type="text"
                        name="rp_name"
                        ng-model="settings.rp_name"
                        placeholder="Real Points"
                        id="rp_name"
                    )
            label(for="tt_name") Task Type custom name
            div.contrib-form-wrapper
                fieldset.contrib-input
                    input(
                        type="text"
                        name="tt_name"
                        ng-model="settings.tt_name"
                        placeholder="Type"
                        id="tt_name"
                    )

        
        input.submit-button(
            type="submit"
            title="settings.active ? 'Deactivate Plugin' : 'Activate Plugin'"
            ng-class="{'button-green': !settings.active, 'button-red': settings.active}"
            ng-value="settings.active ? 'Deactivate Plugin' : 'Activate Plugin'"
        ) 
        
        

include userstory-table.jade
